<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyekta.app.project_lafic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.BerandaActivity"
            android:label="@string/title_activity_beranda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RegistrasiActivity" />
        <activity android:name=".activity.AddItemActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FirstActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SendMessageActivity" />
        <activity android:name=".activity.SearchLostItemsActivity" />
        <activity android:name=".activity.SearchFoundItemsActivity" />
        <activity android:name=".activity.AddFoundItemActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.EditItemActivity"></activity>
    </application>

</manifest>